.header {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0;
  padding-top: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 1140px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .header {
    max-width: 720px;

  }
}

@media screen and (max-width: 568px) {
  .header {
    max-width: 288px;
    padding-top: 16px;
  }
}
