.footer__link {
    color: #ffff;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    margin: 0 auto;
    padding: 0;
    margin-right: 18px;
}

.footer__link:last-of-type {
    margin-right: 0;
}

.footer__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 568px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-right: 0;
        margin-top: 32px;
        display: block;
    }

    .footer__link:first-of-type {
        margin-top: 0px;
    }

}
