.place__link {
    margin: 0 auto;
    padding: 0;
    display: block;
    margin-top: 12px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    transition: opacity .2s ease-in-out;
}

.place__link:hover {
    opacity: 0.8;
}
